body {
	background-color: rgba(240, 234, 229, 0.676);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

/* Navbar */
.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}

/* Logo */
.logo img {
  border-radius: 50%;
}

/* Stars */

.rating-item {
	font-size:60px;
	cursor:pointer;
	color: orange;
}

.rating-item::before {
	content: "\2605";
}

.rating-item.active ~ .rating-item::before {
	content: "\2606";
}

.rating:hover .rating-item::before {
	content: "\2605";
}

.rating-item:hover .rating-item::before {
	content: "\2606";
}